[Desktop Entry]
Name=Matcha Dark Missing Aliz
X-KDE-PluginInfo-Author=
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=
X-KDE-PluginInfo-Name=Matcha-Dark-Missing-Aliz
X-KDE-PluginInfo-Version=1.0
